<h2 class="bg-warning text-white">{{ title }}</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <canvas #barCanvas></canvas>
      <h5 class="card-title text-center">Bar chart</h5>
    </div>
    <div class="col-sm-4">
      <h5 class="card-title text-center">Win / Loss</h5>
      <canvas #doughnutCanvas></canvas>
    </div>
    <div class="col-sm-4">
      <canvas #lineCanvas></canvas>
      <h5 class="card-title text-center">Line chart</h5>
    </div>
  </div>
</div>
