  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5 class="text-center">You have been attacked.</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>


    <div class="mdl-cell mdl-cell--12-col">
      <h2 class="bg-warning text-white">OVERVIEW</h2>
    </div>

    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5 class="text-center">igniiiTe is a Human Fighter</h5>
    </div>
    <div class="mdl-layout-spacer"></div>

    <div class="mdl-cell mdl-cell--6-col advisor__col">
      <h5 class="card-title text-center">Level: 2</h5>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <h5 class="card-title text-center">Overall Rank: 8,676</h5>
    </div>

    <div class="mdl-cell mdl-cell--4-col">New Messages: 0</div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5 class="card-title text-center">War Statistics</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>

  </div>
