  <!--   <img width="0px" alt="game UI idea" src="../assets/dark_cave.png" /> -->

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">

      <div style="padding:45px;" class="mdl-layout__header-row">
        <app-header></app-header>
      </div>

      <div class="mdl-layout__header-row mdl mdl-layout__toolbar">
        <div class="mdl-layout-spacer"></div>
        <app-toolbar></app-toolbar>
        <div class="mdl-layout-spacer"></div>
      </div>

    </header>
  </div>

  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--2-col advisor__col">
      <app-advisor></app-advisor>
    </div>

    <div style="background:black" class="mdl-cell mdl-cell--10-col">
        <router-outlet></router-outlet>
    </div>

  </div>
