  <!--   <img width="0px" alt="game UI idea" src="../assets/dark_cave.png" /> -->






  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div style="padding:45px" class="mdl-layout__header-row">

        <app-navbar></app-navbar>
      </div>

      <div class="mdl-layout__header-row mdl">
        <app-toolbar></app-toolbar>
      </div>
    </header>
    <main class="mdl-layout__content" style="padding: 20px;">
      <router-outlet></router-outlet>
    </main>
  </div>
