<div class="advisor__container">
  <img src="../../../assets/advisor/scroll_top.png" />

  <div class="advisor__content">
    <div>
      <table class="advisor__table">
        <th class="advisor__title">-ADVISOR-</th>
        <tr>It is better to buy a few stronger weapons than many weaker weapons.</tr>
      </table>

      <table class="advisor__table">
        <th class="advisor__title">-STATS-</th>
        <tr>Gold: 2,339,941</tr>
        <tr>Citizen: 1,235</tr>
        <tr>Level: 2</tr>
        <tr>Experience: 3,201</tr>
        <tr>Turns Available: 12,475</tr>
      </table>

      <table class="advisor__table">
        <th class="advisor__title">-TIME-</th>
        <tr>Time Until Next Turn</tr>
        <tr>0:40</tr>
        <tr>Dark Throne Time</tr>
        <tr>1:59</tr>
      </table>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">

      </div>

    </div>

  </div>
  <img src="../../../assets/advisor/scroll_bottom.png" />
</div>
